<div class="avatoo-section">
  <div class="fetching-block" *ngIf="fetching" >
    <div class="lds-ring">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p>Fetching</p>
  </div>

  <ion-grid>
    <ion-row class="product-details">
      <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
        <ion-card>
          <div class="image-box">
            <img src="assets/images/eli-i3.png">
          </div>
          <div class="drescription-back">
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">CS Foundation Mock Test (Online- Pack of 5 )</ion-card-title>
            </ion-card-header>
            <div class="clear"></div>
            <p>15000</p>
            <div class="clear"></div>
            <div class="trash">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
        <ion-card>
          <div class="image-box">
            <img src="assets/images/eli-i3.png">
          </div>
          <div class="drescription-back">
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">CS Foundation Mock Test (Online- Pack of 5 )</ion-card-title>
            </ion-card-header>
            <div class="clear"></div>
            <p>15000</p>
            <div class="clear"></div>
            <div class="trash">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
        <ion-card>
          <div class="image-box">
            <img src="assets/images/eli-i3.png">
          </div>
          <div class="drescription-back">
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">CS Foundation Mock Test (Online- Pack of 5 )</ion-card-title>
            </ion-card-header>
            <div class="clear"></div>
            <p>15000</p>
            <div class="clear"></div>
            <div class="trash">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
        <ion-card>
          <div class="image-box">
            <img src="assets/images/eli-i3.png">
          </div>
          <div class="drescription-back">
            <ion-card-header class="card-header">
              <ion-card-title class="card-title">CS Foundation Mock Test (Online- Pack of 5 )</ion-card-title>
            </ion-card-header>
            <div class="clear"></div>
            <p>15000</p>
            <div class="clear"></div>
            <div class="trash">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
          </div>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
  <div class="clear"></div>
  <div class="order-details">
    <ion-item>
      <ion-label slot="start" class="lable">Order Total</ion-label>
      <ion-label slot="end" class="price">$125,00</ion-label>
    </ion-item>
    <ion-button button color="button_transparent" [routerLink]="['/checkout']" >
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      <ion-label>Continue</ion-label>
    </ion-button>
  </div>

</div>
