.site-header{
    background-color: #001f46;
    .title-default{ text-align: center; color: #fff;}
    ion-icon{
        color: #fff; width: 64px; height: 30px;
    }
    ion-menu-button{
        color: #fff; width: 64px; height: 30px;
    }
}
.my-custom-menu {
    --width: 500px;
  }

.toolbar-container{
    background-color: #001f46;
}




