<div class="side-menu"> 
  <div class="logo"><a routerLink="/home"><img src="{{mainlogo}}" alt=""></a></div>
  
  <div class="menu-wrapper">
    <ion-menu-toggle>
      <ion-item lines="none" color="custom" [routerLink]="['/home']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label color="primary">Home</ion-label>
      </ion-item>
    </ion-menu-toggle>
    
    <ion-menu-toggle>
      <ion-item lines="none" color="custom" [routerLink]="['/about-us']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>About Us</ion-label>
      </ion-item>
    </ion-menu-toggle>
  
    <ion-menu-toggle>
      <ion-item lines="none" color="custom" [routerLink]="['/products']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" name="gift-outline"></ion-icon>
        <ion-label>Products</ion-label>
      </ion-item>
    </ion-menu-toggle>
  
    <ion-menu-toggle>
      <ion-item lines="none" color="custom" [routerLink]="['/categories']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" name="duplicate-outline"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-item>
    </ion-menu-toggle>
    
  
    <ion-menu-toggle>
      <ion-item lines="none" color="custom" [routerLink]="['/eligiblity']" routerLinkActive="router-link-active">
        <ion-icon slot="start" name="finger-print-outline"></ion-icon>
        <ion-label>Eligiblity</ion-label>
      </ion-item>
    </ion-menu-toggle>
    
  
    <ion-menu-toggle>
      <ion-item lines="none" color="custom" [routerLink]="['/syllabus']" routerLinkActive="router-link-active"> 
        <ion-icon slot="start" name="laptop-outline"></ion-icon>
        <ion-label>Syllabus</ion-label>
      </ion-item>
    </ion-menu-toggle>
    
  
    <ion-menu-toggle>
      <ion-item  lines="none" color="custom" [routerLink]="['/papers']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Papers </ion-label>
      </ion-item>
    </ion-menu-toggle>
    
  
    <ion-menu-toggle>
      <ion-item lines="none" color="custom" [routerLink]="['/mocktest']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" name="flask-outline"></ion-icon>
        <ion-label>Mocktest </ion-label>
      </ion-item>
    </ion-menu-toggle>
    
  
    <ion-menu-toggle>
      <ion-item lines="none" color="custom" [routerLink]="['/quiz']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" name="library-outline"></ion-icon>
        <ion-label>Quiz</ion-label>
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <ion-item lines="none" color="warning" class="logout">
        <ion-icon slot="start"  name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </div>
  
  
  
</div>