.cat-details{
    text-align: center; width: 100%; float: left; position: relative; 
    ion-card{
        height: 174px; box-shadow: rgba(23,49,67,.15) 2px 0 4px; display: flex; align-items: center; border-radius: 5px; background-color: #f9f4e5;
        img{
            width: 60px;
        }
    }
    .card-title{
        font-size: 14px;
    }
}


  