<ion-grid class="cat-details">
  <div class="fetching-block" *ngIf="fetching">
    <div class="lds-ring">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p>Fetching...</p> 
  </div>
  <ion-row>
    <ion-col size-lg="3" size-md="3" size-sm="6" size="6" *ngFor="let cat of fcategory">
      <ion-card [routerLink]="['/', 'categories', cat.link]">
        <div>
          <img src="{{cat.icon}}">
          <ion-card-header>
            <ion-card-title class="card-title">{{cat.name}}</ion-card-title>
          </ion-card-header>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>