<div class="drescription-back">
  <div class="head minus" (click)="accordion()" [class.plus]="plus">Description</div>
  <div class="main" *ngIf="expanded">
    <div class="details">
      <div class="title">UGC NET Paper 1</div>
       <p>The UGC NET paper 1 with paper 2 consists of objective type, multiple-choice questions (MCQ). This section of UGC NET Paper 1  can be used for the online preparation of exams. It contains every information you need to know about the NTA UGC NET Paper 1. Here you can find practice questions for UGC NET Paper 1. You can also get updated NTA UGC Net Paper 1 Study Material. As we all know the UGC net exam is one of the toughest exams in India. Online preparation of UGC NET paper 1 provides you an edge to qualify the UGC NET exam. This exam is conducted in one session without any break between  UGC NET Paper 1 and  Paper 2. General paper UGC NET Paper 1 will have 50 questions and 100 marks in total. </p>
    </div>
    <div class="details">
      <div class="title">Some short notes about UGC NET Paper 1</div>
       <p>UGC NET Paper1 is the simplest paper, as compared to Paper 2. You can easily gain good marks, you just need to have good and disciplined time management and practice UGC NET Paper1 Preparation Online for UGC NET First Paper, this paper consists of 10 subjects as follows :</p>
       <ul class="list">
         <li>Teaching Aptitude</li>
         <li>Research Aptitude</li>
         <li>Reading Comprehension</li>
         <li>Communication</li>
         <li>Higher Education</li>
         <li>The reasoning which also includes Maths</li>
         <li>Logical Reasoning</li>
         <li>Data Interpretation</li>
         <li>Information & Communication Technology</li>
         <li>People Environment</li>
       </ul>
       <p>Now start giving more time on these subjects, to make it simple and score good. From the UGC NET exam pattern, almost every subject contained 5 questions, which means from every subject there will be 5 questions.</p>
    </div>
    
  </div>
</div>
